.edit-modal {
	background-color: var(--white);
	padding: 50px;
	text-align: center;
	border-radius: 15px;
}

.edit-modal h1 {
	font-size: 1.5rem;
	font-weight: 600;
}

.edit-modal-btns {
	display: flex;
	gap: 10px;
	margin-top: 30px;
}

.edit-btn {
	width: 100%;
	font-size: 1.3rem;
	font-weight: 600;
	padding: 12px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.edit-modal-confirm-btn {
	background-color: var(--primary);
	color: var(--white);
}
.edit-modal-reject-btn {
	background-color: var(--white);
	border: 3px solid var(--primary);
}

/* form inputs */

.edit-form-group {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px 15px;
	background-color: #f4f4f4;
	border-radius: 25px;
	margin-top: 15px;
}

.edit-form-input {
	width: 100%;
	outline: none;
	border: none;
	background-color: unset;
	font-weight: 600;
}

.edit-form-group:nth-child(2) {
	margin-top: 25px;
}
