@import "./reset.css";

@font-face {
	font-family: vazir;
	src: url(./fonts/Vazir.ttf);
}

:root {
	--white: #fff;
	--white-50: #f4f6ff;
	--primary: #2f78e5fd;
	--black: #323232;
}

*,
html,
body {
	box-sizing: border-box;
	font-family: vazir !important;
}

body {
	direction: rtl;
	background-color: var(--white-50);
}
/*
 47B5FF
1363DF
5170FD
 */
